@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
body {
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    /*padding-top: 35%;
    padding-bottom: 40%;*/
    height: 100vh;
    background: linear-gradient(to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
}

.tarjeta {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-radius: 5%;
    width: 50vw;
    height: 75vh;
}

.acordeon {
    padding-left: 5px;
    padding-right: 20px;
    width: 200px;
}

.caja {
    width: 180px;
    height: 180px;
    transform: translateY(-250px) translateX(-90px);
}

.imagen {
    justify-content: center;
    padding-right: 20px;
}

.imagen>img {
    display: flex;
    transform: translateX(-60px);
    position: relative;
}