@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
body {
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    /*padding-top: 35%;
    padding-bottom: 40%;*/
    height: 100vh;
    background: linear-gradient(to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
}

.tarjeta {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-radius: 5%;
    width: 50vw;
    height: 75vh;
}

.acordeon {
    padding-left: 5px;
    padding-right: 20px;
    width: 200px;
}

.caja {
    display: flex;
    transform: translateY(-250px) translateX(-60px);
}

.imagen {
    justify-content: center;
    padding-right: 20px;
    padding-top: 100px;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 600px;
    background-position-y: -20px;
    background-position-x: -110px;
}

.woman-online {
    display: flex;
    size: 20px;
    transform: translateX(-20px);
    position: relative;
}

details {
    cursor: pointer;
}

details[open]>summary {
    font-weight: bold;
}

details>summary {
    display: flex;
    justify-content: space-between;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>summary::after {
    content: url(./images/icon-arrow-down.svg);
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
}

details[open]>summary::after {
    transform: rotate(180deg);
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}